@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
}

/* Basic Styling */

html{
    scroll-behavior: smooth;
}

.my-container{
    max-width: 1300px;
    padding-inline: 3rem;
    margin: auto;
}

.sections-pb{
    padding-block: 7.5rem;
}

.logo, h2, h3{
    font-family: "Kaushan Script", cursive;
}

.contact-inputs:focus{
    outline: none;
    border-bottom-color: rgb(38, 38, 38); 
}

.contact-inputs:focus::placeholder{
    color: rgb(38, 38, 38); 
}

.navbar-styling{
    color: rgb(38, 38, 38);
    background: white;
    box-shadow: 5px 20px 50px 0 rgba(0, 0, 0, 0.25);

}
